
  .id {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &::before {
    content: '';
      
    display: block;
      
    border-right: 1px solid var(--gray-400);
    
    height: 8.4rem;
  }
  
  span {
    border: 1px solid var(--gray-400);
    border-radius: 50%;
    
    padding-block: 1.6rem;
    width: 5.6rem;

    text-align: center;
    
    font-weight: bold;
  }
}

.first-section {
  .first-section__imgs {
    margin-block: 6.4rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.4rem;

    img {
      width: 15rem;

      border-radius: 8px;
    }
  }

  .first-section__description {
      text-align: center;

      margin-bottom: 6.4rem;
      padding-inline: 2.4rem;

    strong {
      text-transform: uppercase;
      font-size: 1.6rem;
      color: var(--cyan-400);
      letter-spacing: 3px;

      display: block;

      margin-bottom: 2.4rem;
    }
    
    h2 {
      font-size: 3.2rem;
      line-height: 3.6rem;

      margin-bottom: 3.2rem;
    }

    p {
      font-size: 1.6rem;
    }
  }
}

.second-section {
  height: 42.8rem;

  background: url(../assets/mobile/image-footer.jpg);

  color: var(--white);
  text-align: center;
 
  padding-inline: 2.4rem;
  
  .id {
    margin-top: -9.6rem;
  }

  h2 {
    font-size: 3.2rem;
    line-height: 3.6rem;

    margin-bottom: 2.4rem;
  }

  p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.6rem;

    margin-bottom: 3.2rem;
  }
}